@import '../components/NavBar/NavBar';
@import '../components/BingoSheet//BingoSheet';
@import '../components/BingoKey/BingoKey';
@import '../components/LoginForm/LoginForm';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: graysle;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 750px;
}

h1, h2, h3, p, ol, li {
  font-family: 'rubikregular';
}

li {
  font-size: 24px;
}

h1, h2 {
  color: darkblue;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

#user-login-form {
  font-size: 24px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
