.navLink {
    margin-top: 20px;
    font-size: 28px;
}

.glyphs {
    font-size: 28px;
    margin-left: auto;
    margin-right: 10%;
    padding-top: 20px;
    color: darkblue;
}

button {
    margin-left: 5px;
}